@charset "UTF-8";



.main-contents{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.main-contents:before, .main-contents:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.main-contents:before {left: 10px;}
.main-contents:after {right: 10px;}


.main-contents p {
    margin: 0;
    padding: 0;
}